
<script>
function success(position) {
	document.getElementById("test").innerHTML = JSON.stringify(position.coords);
}

function error(msg) {
  var s = document.querySelector('#status');
  s.innerHTML = typeof msg == 'string' ? msg : "failed";
  s.className = 'fail';
  
  // console.log(arguments);
}

if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(success, error);
} else {
  error('not supported');
}

</script>

<div class="container">

    <h1>Timesheet service</h1>


    You are <span id="test"></span>

</div>